[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "*"
flask = "*"
flake8 = "*"
python-dotenv = "*"
ngrok = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
